body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  background-color: rgb(70, 70, 70);
  color:aliceblue;
 
}

header {
  background: #7700ff;
  color: rgb(30, 255, 0);
  padding: 0.3rem;
  text-align: center;
  bottom:0;
  text-shadow: 3px 3px 4px rgb(0, 0, 0);
  font-size: 0.9rem;
}

footer {
  background:rgb(70, 70, 70);
  color: rgb(30, 255, 0);
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  bottom: 0;
  font-size: 2rem;
  text-shadow: 3px 3px 4px #7700ff;
}

.home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.launch-card {
  border: 3px solid  rgb(30, 255, 0);
  padding: 1rem;
  text-align: center;
  background-color: rgb(107, 105, 105);
  color: #ffffff;
  text-shadow: 3px 3px 4px #7700ff;
}

.launch-card img {
  max-width: 95%;
  height: auto;
  align-items: center;
}

.launch-details {
  padding: 1rem;
  font-size: 1.5rem;
  text-shadow: 3px 3px 4px #7700ff;
}

.launch-details img {
  max-width: 9%;
  height: auto;
  
}
